* {
    /* configurações globais do site. */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    background-color: rgba(8, 22, 104, 0.932);
    
}
form{
    background-color: rgb(253, 253, 253);
    max-width: 500px;
    width: 50%;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
h3{
    text-align: center;
    color: black;
    font-family: 'Bad Script';
    font-size: 25px;
}
form input[type=text],
form input[type=password]{
    width: 100%;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    padding-left: 10px;
    margin: 10px 0;
   
}
form input[type=tel]{
    margin: 5px 0;
}
form input[type=submit]{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: rgba(32, 28, 255, 0.884);
    color: white;
    border:0;
    border-radius: 10px;
    transition: 1s;
}
form input[type=submit]:hover{
    background-color: rgba(76, 75, 80, 0.712);
}
form input[type=password]:focus{
    outline:0;
}

